/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Layout */
body {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background-color: #001F3F;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
}
  
.sidebar.hide {
    transform: translateX(-100%);
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    padding: 15px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-bottom: #267EBB 1px solid;
    font-size: 16px;
}

.sidebar ul li i {
    margin-right: 10px;
}

.sidebar ul li:hover {
    background-color: #002851;
}

.sidebar ul li a.active {
    font-weight: bold;
}


.logo {
    display: block;
    margin: 10% auto;
}
  

/* Main Content */
.main-content {
    margin-left: 17rem;
    width: 100%;
    padding: 2rem 1rem;
    transition: margin-left 0.3s ease;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    color: #001F3F;
}

h2 {
    font-size: 32px;
    font-weight: 900;
    color: #001F3F;
}

h3 {
    font-size: 26px;
    font-weight: 900;
    color: #001F3F;
}
  
.main-content.full-width {
    margin-left: 0;
    width: 100%;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 3%;
}

.hamburger {
    font-size: 1rem;
    cursor: pointer;
}

/* Dropdown */
.admin-menu {
    position: relative;
    display: inline-block;
}

.admin {
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
}

.dropdown a {
    color: #595959;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-size: 14px;
}

.dropdown a:hover {
    background-color: #f4f4f4;
}

.show {
    display: block;
}


/* Dashboard Cards */
.dashboard {
    margin-top: 20px;
    display: flex;
    gap: 60px;
}

.card {
    /* flex: 1; */
    padding: 20px 55px;
    border: 1px solid #595959;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card i {
    font-size: 2rem;
    color: white;
    background-color: #1A2A3A;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card .count {
    font-size: 32px;
    color: #001F3F;
}

.card .text {
    font-size: 16px;
    color: #595959;
}

/* Main Content Dashboard */
.container {
    margin-top: 20px;
}

.container div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn {
    background-color: #001F3F;
    color: #fff;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-header {
    color: #fff;
    background-color: #267EBB;
    border: none;
    padding: 6px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn-header i {
    margin-right: 15px;
}

.container input[type="text"] {
    padding: 8px;
    width: 18rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.container table th, .container table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.container table th {
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.container .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.container .pagination a {
    /* margin: 0 5px; */
    padding: 8px 15px;
    border: 1px solid #595959;
    color: #267EBB;
    text-decoration: none;
    /* border-radius: 5px; */
}

.container .pagination a.active {
    background-color: #267EBB;
    color: #fff;
}

.btn-action {
    color: #fff;
    cursor: pointer;
    background-color: #001F3F;
    padding: 8px;
    border-radius: 3px;
    font-size: 14px;
}

/* Detail Content */
.text-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.detail-content {
    border: 1px solid #595959;
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;
    max-width: 100%;
}

.detail-content table {
    width: 100%;
    border-collapse: collapse;
}

.detail-content td {
    padding: 8px 0;
    vertical-align: top;
}

.label {
    color: #000;
    width: 250px;
}

.separator {
    width: 20px;
    text-align: start;
    color: #595959;
}

.value,
.value h2 {
    color: #595959;
}

.map {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 5px;
}

.product-card {
    display: flex;
    align-items: stretch;
}

.product-card img {
    width: 150px;
    height: auto;
    border: 1px solid #595959;
    border-radius: 5px;
    margin-right: 10px;
}

.product-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bukti-transfer {
    margin-top: 20px; 
    background-color: #d9d9d9;
    padding: 200px; 
    text-align: center;
}

.img-tf {
    margin-top: 20px; 
    padding: 0; 
    text-align: center;
}

.product-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-top: 20px;
}

.product-gallery {
    width: 100%;
}

.detail-content {
    margin-top: 20px;
}

.main-image {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #595959;
}

.thumbnail-container {
    display: flex;
    width: auto;
    gap: 15px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s, box-shadow 0.3s;
}

.thumbnail.active {
    opacity: 1;
}

.thumbnail:hover {
    opacity: 0.8;
}

.stock-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.stock-table th, .stock-table td {
    border: 1px solid #595959;
    padding: 10px;
    text-align: center;
}

.description {
    margin-top: 30px;
}

.description::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin-top: 10px;
}

 /* Modal styling */
 .modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    height: 100px;
}

