/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #267EBB;
    border-radius: 5px;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    color: #001F3F;
}

h2 {
    font-size: 32px;
    font-weight: 900;
    color: #001F3F;
}

h4 {
    font-size: 20px;
    font-weight: 900;
    color: #001F3F;
}

p {
    font-size: 16px;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 30px;
}

.logo img {
    max-height: 35px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 30px;
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 150px;
    z-index: 10;
    list-style: none;
}

.dropdown-menu li {
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li:hover {
    background-color: #ddd;
}

.icons a {
    color: #333;
    font-size: 14px;
    margin-left: 30px;
    text-decoration: none;
}

/* Slider */
